/* propiedades generales */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ddd;
}
body {
  background-color: #222;
  font-family: "Bebas Neue", Courier, cursive;
  color: #ddd;
}
/* header */
.cabecera {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  position: fixed;
}
/* nombre de página */
h1 {
  font-size: 15vw;
}
.spanH1 {
  color: #7989da;
}
/* ícono menu */
#menuIcono {
  font-size: 15vw;
  margin-right: 3vw;
}
#menuIcono:hover {
  text-shadow: 0px 0px 15px #ddd;
  cursor: pointer;
}
/* menu desplegable */
.menuDesplegable {
  font-size: 10vw;
  padding: 3vw;
  position: fixed;
  top: 20vw;
  background-color: #4d5164dd;
  border-radius: 10px;
}
.oculto {
  display: none;
}
.menuDesplegable li a:hover {
  color: #7989da;
  text-shadow: 0px 0px 15px #7989da;
}
/* main */
/* contenido principal */
.peliPrincipal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://cdn.colombia.com/sdi/2022/01/14/spider-man-no-way-home-nuevo-poster-mes-de-estreno-marvel-studios-sony-987506.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 15vw;
  gap: 3vw;
}
/* contenido secundario */
.contSecundario h3,
h4 {
  text-align: center;
  color: #7989daaa;
  padding: 6vw;
  border-bottom: solid 3px #7989da55;
}
.contGaleria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vw;
}
.contPeli {
  padding-top: 4vw;
  text-align: center;
  width: 45vw;
}
.contPeli img {
  width: 45vw;
  height: 65vw;
}
/* preguntas frecuentes */
.pregFrec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 15vw 2vw 15vw;
}
.txtOculto1,
.txtOculto2 {
  text-align: justify;
  padding: 0 10vw 2vw 10vw;
}
/* footer */
.pieDePagina {
  text-align: center;
  padding: 5vw 0 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* puntos de quiebre */
@media (width >= 481px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 7vw;
  }
  h3 {
    font-size: 5vw;
  }
  h4 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
  #menuIcono {
    font-size: 8vw;
  }
  .menuDesplegable {
    font-size: 5vw;
    top: 13vw;
  }
  .peliPrincipal {
    padding: 7vw;
    gap: 1vw;
    font-size: 2.8vw;
  }
  .contPeli {
    width: 30vw;
  }
  .contPeli img {
    width: 30vw;
    height: 42vw;
  }
}
@media (width >= 768px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 4vw;
  }
  h4 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
  }
  #menuIcono {
    display: none;
  }
  .menuDesplegable {
    display: block;
    width: 70%;
    height: 6vw;
    position: relative;
    top: 0;
    padding: 1vw;
  }
  .menuDesplegable ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vw;
  }
  .peliPrincipal {
    font-size: 2.5vw;
  }
  .contPeli {
    width: 23vw;
  }
  .contPeli img {
    width: 23vw;
    height: 31vw;
  }
}
@media (width >= 980px) {
  h1 {
    font-size: 5vw;
  }
  .menuDesplegable ul {
    font-size: 3vw;
  }
  .peliPrincipal {
    font-size: 2vw;
    padding-bottom: 2vw;
    gap: 0.5vw;
  }
  .contPeli {
    width: 15vw;
  }
  .contPeli img {
    width: 15vw;
    height: 22vw;
  }
}
/* infoPelis */
.infoPelis{
  padding-top: 20vw;
}
.contPrincInfoPelis img{
  width: 100%;
}
